<h1>Customer List</h1>


<table class="table table-striped table-hover">

  <thead class="thead-dark">
    <tr>
    <th>First Name</th>
    <th> Last Name</th>
    <th>Phone Number</th>
    <th>Email Address</th>
    <th> Total Appointments </th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |user| %>
      <% if user.manager_role? %>
        <% else %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone_number %></td>
        <td> <%= user.email %> </td>
        <td> <%= user.appointments.count %> </td>
        <td class="text-nowrap">
          <%= link_to 'show', show_path(user), class: 'btn btn-danger' %> 
          
          </td>
      </tr>
      <% end %>
  <% end %>
  </tbody>

</table>

