<form>
<div class="container">
    <h1>Reschedule</h1>
 
        <%= bootstrap_form_with model: @pages, method: :patch, url: login_path,local: true do |f| %>

        <%= f.text_field :first_name %>
        <%= f.text_field :last_name %>
       
        <%= f.date_field :preferred_date %>
        <div class="form-group">
            <label class="control-label" for="time">Preferred Time</label>
            <select id="time" name="time" class="form-control">
                <option value="8:00 to 9:00">8:00 to 9:00</option>
                <option value="9:00 to 10:00">9:00 to 10:00</option>
                <option value="10:00 to 1:00">10:00 to 1:00</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="appointmentfor">Select Technician</label>
            <select id="appointmentfor" name="appointmentfor" class="form-control">
                <option value="Service#1">Naila Stiles</option>
                <option value="Service#2">Technician#2</option>
            </select>
        </div>
        <%= f.text_field :phone_number %>
        <div class="form-group">
            <label class="control-label" for="promotions">Select Promotion</label>
            <select id="promotions" name="promotions" class="form-control">
                <option value="Promotion1">Buy 2 Get 1 Free</option>
                <option value="Promotion2">30% off Next Visit</option>
                <option value="Promotion3">20% off Pedicure with Guest</option>
            </select>
        </div>
        <%= f.submit %>


    <button type="submit" class="btn">Reschedule</button>
</div>
</form>
<%end%>