<h1 style="font-family:'Courier'">Admin: <%=current_user.first_name%></h1>
<div style="padding:20px;">

<h2 style="font-family:'Courier New'">Customer Reports </h2>

<h4 style="font-family:'Courier New'"><%= @show_customer.first_name %> <%=@show_customer.last_name %></h4>
        <style type>
            .nobull{list-style-type: none;}
        </style>
        <ul class="nobull">
            <li>Phone Number: <%= @show_customer.phone_number %> </li>
            <li>Email Address:  <%= @show_customer.email%> </li>
            <li>Total Appointments:  <%= @show_customer.appointments.count %> </li>
        </ul>
<br>

<div class="col-sm-5">
    <h5 class="card-header" style="font-family:'Courier'">Appointments </h5>
    <div class="card-body">
        <%= @show_appointment.client_firstname%> <%= @show_appointment.client_lastname %><br>
        <%= @show_appointment.service_name %><br> 
        <%= @show_appointment.technician_name %><br>
        <%= @show_appointment.date_created.strftime("%A %d %B %Y, %I:%M %P CT") %>
    </div>
</div>
<br>

<div class="col-sm-5">
    <h5 class="card-header" style="font-family:'Courier'">Reviews </h5>
    <div class="card-body">
    No reviews to view<br><br>

    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
    </div>
</div>
<br>

<%= link_to 'View Customer List', customers_path, class: 'btn btn-light btn-sm' %>
