
<h1>Promotions</h1>

<table class="table table-striped table-hover">

  <thead class="thead-dark">
    <tr>
      <th>Promotion</th>
      <th>Promo Code</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
      <td><%= promotion.title %></td>
        <td><%= promotion.promo_code %></td>
        <td class="text-nowrap">
          <%= link_to 'show', promotions_path, class: "btn btn-danger" %>
          <%= link_to 'destroy', promotions_path, method: :delete, class: "btn btn-danger" %>

        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<p>
  <%= link_to "New Promotion", newpromotion_path, class: "btn btn-secondary"%>
</p>


